body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:834px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:818px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:34px;
  width:360px;
  height:818px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:80px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u1811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:48px;
  width:72px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1812_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:224px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:89px;
  width:344px;
  height:224px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:191px;
  width:239px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1814 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1814_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:635px;
  width:343px;
  height:180px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u1815 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1815_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#02A7F0;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:529px;
  width:304px;
  height:46px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#02A7F0;
}
#u1816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:604px;
  width:72px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1817 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1817_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:614px;
  width:124px;
  height:1px;
  display:flex;
  transition:none;
}
#u1818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:2px;
}
#u1818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:615px;
  width:124px;
  height:1px;
  display:flex;
  transition:none;
}
#u1819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:2px;
}
#u1819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:48px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1820 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1820_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:339px;
  width:344px;
  height:180px;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  display:flex;
  transition:none;
}
#u1822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:140px;
  height:30px;
  display:flex;
  transition:none;
}
#u1823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:0px;
  width:77px;
  height:30px;
  display:flex;
  transition:none;
}
#u1824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:0px;
  width:77px;
  height:30px;
  display:flex;
  transition:none;
}
#u1825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
  display:flex;
  transition:none;
}
#u1826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:140px;
  height:30px;
  display:flex;
  transition:none;
}
#u1827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:30px;
  width:77px;
  height:30px;
  display:flex;
  transition:none;
}
#u1828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:30px;
  width:77px;
  height:30px;
  display:flex;
  transition:none;
}
#u1829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:30px;
  display:flex;
  transition:none;
}
#u1830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:60px;
  width:140px;
  height:30px;
  display:flex;
  transition:none;
}
#u1831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:60px;
  width:77px;
  height:30px;
  display:flex;
  transition:none;
}
#u1832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:60px;
  width:77px;
  height:30px;
  display:flex;
  transition:none;
}
#u1833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:50px;
  height:30px;
  display:flex;
  transition:none;
}
#u1834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:90px;
  width:140px;
  height:30px;
  display:flex;
  transition:none;
}
#u1835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:90px;
  width:77px;
  height:30px;
  display:flex;
  transition:none;
}
#u1836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:90px;
  width:77px;
  height:30px;
  display:flex;
  transition:none;
}
#u1837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:50px;
  height:30px;
  display:flex;
  transition:none;
}
#u1838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:120px;
  width:140px;
  height:30px;
  display:flex;
  transition:none;
}
#u1839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:120px;
  width:77px;
  height:30px;
  display:flex;
  transition:none;
}
#u1840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:120px;
  width:77px;
  height:30px;
  display:flex;
  transition:none;
}
#u1841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:30px;
  display:flex;
  transition:none;
}
#u1842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:150px;
  width:140px;
  height:30px;
  display:flex;
  transition:none;
}
#u1843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:150px;
  width:77px;
  height:30px;
  display:flex;
  transition:none;
}
#u1844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:150px;
  width:77px;
  height:30px;
  display:flex;
  transition:none;
}
#u1845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:368px;
  width:450px;
  height:140px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1846 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1846_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
