body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-34px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:650px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3788 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:48px;
  width:360px;
  height:650px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u3789 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:596px;
  width:324px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3790 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:94px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u3790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u3790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3791 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:60px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3791 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3791_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3792 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:60px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3792 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3792_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3793 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:363px;
  width:140px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3793 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3793_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#D9001B;
}
#u3794 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:567px;
  width:112px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#D9001B;
}
#u3794 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3794_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
