body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-41px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:649px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:34px;
  width:360px;
  height:649px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:80px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:196px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:368px;
  width:342px;
  height:196px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:46px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u956 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u956_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:46px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u957 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u957_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  line-height:25px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:376px;
  width:56px;
  height:180px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  line-height:25px;
}
#u958 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u958_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:178px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:right;
  line-height:25px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:377px;
  width:71px;
  height:178px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
  line-height:25px;
}
#u959 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u959_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:88px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:80px;
  width:359px;
  height:88px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:93px;
  width:60px;
  height:60px;
  display:flex;
  transition:none;
}
#u961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:114px;
  width:31px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u962 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u962_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:102px;
  width:75px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u963 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u963_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:126px;
  width:50px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u964 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u964_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:105px;
  width:19px;
  height:18px;
  display:flex;
  transition:none;
}
#u965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:154px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:168px;
  width:359px;
  height:154px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:255px;
  width:48px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u967 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u967_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:255px;
  width:48px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u968 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u968_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:277px;
  width:78px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u969 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u969_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:277px;
  width:62px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u970 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u970_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:208px;
  width:73px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u971 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u971_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:180px;
  width:42px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u972 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u972_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:240px;
  width:342px;
  height:1px;
  display:flex;
  transition:none;
}
#u973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u974_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:337px;
  width:114px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u974 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u974_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u974.disabled {
}
.u974_input_option {
}
