body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-84px;
  width:742px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:649px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:68px;
  width:360px;
  height:649px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:114px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u2130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:218px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:163px;
  width:342px;
  height:218px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:80px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2132_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:80px;
  width:56px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2133 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2133_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  line-height:25px;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:214px;
  width:71px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  line-height:25px;
}
#u2134 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2134_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  line-height:25px;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:214px;
  width:231px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  line-height:25px;
}
#u2135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2135_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:128px;
  width:109px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2136_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:163px;
  width:342px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
  text-align:right;
  line-height:25px;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:175px;
  width:56px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  text-align:right;
  line-height:25px;
}
#u2138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
  text-align:right;
  line-height:25px;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:175px;
  width:56px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  text-align:right;
  line-height:25px;
}
#u2139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2139_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
  text-align:right;
  line-height:25px;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:175px;
  width:28px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  text-align:right;
  line-height:25px;
}
#u2140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2140_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
  text-align:right;
  line-height:25px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:175px;
  width:56px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  text-align:right;
  line-height:25px;
}
#u2141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2141_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:246px;
  width:342px;
  height:1px;
  display:flex;
  transition:none;
}
#u2142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u2142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  line-height:25px;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:254px;
  width:71px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  line-height:25px;
}
#u2143 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2143_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  line-height:25px;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:254px;
  width:227px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  line-height:25px;
}
#u2144 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2144_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:286px;
  width:342px;
  height:1px;
  display:flex;
  transition:none;
}
#u2145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u2145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  line-height:25px;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:304px;
  width:71px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  line-height:25px;
}
#u2146 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2146_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  line-height:25px;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:304px;
  width:227px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  line-height:25px;
}
#u2147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2147_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:336px;
  width:342px;
  height:1px;
  display:flex;
  transition:none;
}
#u2148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u2148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  line-height:25px;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:344px;
  width:71px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  line-height:25px;
}
#u2149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2149_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  line-height:25px;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:344px;
  width:227px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  line-height:25px;
}
#u2150 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2150_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:649px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:68px;
  width:360px;
  height:649px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:114px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u2152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:80px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2153_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:80px;
  width:56px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2154 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2154_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:128px;
  width:109px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2155_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:163px;
  width:342px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
  text-align:right;
  line-height:25px;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:175px;
  width:56px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  text-align:right;
  line-height:25px;
}
#u2157 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2157_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
  text-align:right;
  line-height:25px;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:175px;
  width:56px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  text-align:right;
  line-height:25px;
}
#u2158 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2158_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
  text-align:right;
  line-height:25px;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:175px;
  width:28px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  text-align:right;
  line-height:25px;
}
#u2159 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2159_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
  text-align:right;
  line-height:25px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:175px;
  width:56px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  text-align:right;
  line-height:25px;
}
#u2160 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2160_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:429px;
  width:42px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2161 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2161_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2162_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:126px;
  width:114px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2162 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2162_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2162.disabled {
}
.u2162_input_option {
}
#u2163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2163_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:123px;
  width:114px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2163 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2163_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2163.disabled {
}
.u2163_input_option {
}
