body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-34px;
  width:568px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:650px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:48px;
  width:360px;
  height:650px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:94px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:60px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u684 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u684_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:60px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u685 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u685_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#02A7F0;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:109px;
  width:56px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#02A7F0;
}
#u686 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u686_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:109px;
  width:56px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u687 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u687_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:109px;
  width:56px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u688 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u688_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:109px;
  width:57px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u689 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u689_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:109px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u690 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u690_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:142px;
  width:333px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.22408830161995952deg);
  -moz-transform:rotate(-0.22408830161995952deg);
  -ms-transform:rotate(-0.22408830161995952deg);
  transform:rotate(-0.22408830161995952deg);
  transition:none;
}
#u691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:2px;
}
#u691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:4px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:140px;
  width:57px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:184px;
  width:327px;
  height:169px;
  display:flex;
  transition:none;
}
#u693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:169px;
}
#u693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:382px;
  width:327px;
  height:169px;
  display:flex;
  transition:none;
}
#u694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:169px;
}
#u694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:154px;
  width:42px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u695 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u695_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:363px;
  width:42px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u696 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u696_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:220px;
  width:154px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u697 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u697_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
