body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-46px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:649px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:39px;
  width:360px;
  height:649px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:85px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u1328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:51px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1329 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1329_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:51px;
  width:56px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1330 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1330_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:190px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:230px;
  width:339px;
  height:190px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:270px;
  width:325px;
  height:1px;
  display:flex;
  transition:none;
}
#u1332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u1332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:244px;
  width:42px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1333 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1333_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:281px;
  width:56px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1334 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1334_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:right;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:236px;
  width:99px;
  height:184px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
}
#u1335 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1335_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:108px;
  width:92px;
  height:92px;
  display:flex;
  transition:none;
}
#u1336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:92px;
}
#u1336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:239px;
  width:19px;
  height:18px;
  display:flex;
  transition:none;
}
#u1337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u1337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:315px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1338 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1338_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:352px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1339 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1339_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:389px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1340 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1340_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:309px;
  width:325px;
  height:1px;
  display:flex;
  transition:none;
}
#u1341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u1341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:342px;
  width:325px;
  height:1px;
  display:flex;
  transition:none;
}
#u1342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u1342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:381px;
  width:325px;
  height:1px;
  display:flex;
  transition:none;
}
#u1343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u1343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#02A7F0;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:187px;
  width:54px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#02A7F0;
}
#u1344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
