body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-77px;
  width:686px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6509 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:176px;
  width:686px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6509 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6509_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
