body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:853px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:521px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.6078431372549019);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:521px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:307px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:126px;
  width:300px;
  height:307px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:91px;
  width:1px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3997 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3997_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u3998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:81px;
  width:92px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3998 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3998_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:141px;
  width:37px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3999 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3999_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:185px;
  width:42px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4000 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4000_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:179px;
  width:193px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:234px;
  width:42px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4002 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4002_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:228px;
  width:193px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:283px;
  width:56px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4004 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4004_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:277px;
  width:193px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:362px;
  width:193px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#AAAAAA;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:186px;
  width:70px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#AAAAAA;
}
#u4007 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4007_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#AAAAAA;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:234px;
  width:70px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#AAAAAA;
}
#u4008 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4008_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#AAAAAA;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:284px;
  width:70px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#AAAAAA;
}
#u4009 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4009_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:537px;
  width:316px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4010 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4010_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
