body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:853px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:521px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.6078431372549019);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:521px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:307px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3907 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:126px;
  width:300px;
  height:307px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3908 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:91px;
  width:1px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3908_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u3909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3909 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:81px;
  width:92px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3909 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3909_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3910 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:141px;
  width:37px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3910 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3910_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3911 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:185px;
  width:42px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3911 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3911_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3912 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:179px;
  width:193px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3913 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:234px;
  width:42px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3913 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3913_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3914 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:228px;
  width:193px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3915 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:283px;
  width:56px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3915 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3915_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3916 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:277px;
  width:193px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u3917 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:362px;
  width:193px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#AAAAAA;
}
#u3918 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:186px;
  width:70px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#AAAAAA;
}
#u3918 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3918_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#AAAAAA;
}
#u3919 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:234px;
  width:70px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#AAAAAA;
}
#u3919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3919_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#AAAAAA;
}
#u3920 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:284px;
  width:70px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#AAAAAA;
}
#u3920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3920_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3921 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:537px;
  width:316px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3921_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
