body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:853px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:521px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.6078431372549019);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:521px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:307px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3876 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:126px;
  width:300px;
  height:307px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3877 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:91px;
  width:1px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3877 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3877_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u3878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3878 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:81px;
  width:92px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3878_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3879 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:141px;
  width:37px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3879 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3879_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3880 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:185px;
  width:42px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3880 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3881 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:179px;
  width:193px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3882 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:234px;
  width:42px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3882 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3882_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3883 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:228px;
  width:193px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3884 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:283px;
  width:56px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3884 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3884_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3885 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:277px;
  width:193px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u3886 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:362px;
  width:193px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#AAAAAA;
}
#u3887 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:186px;
  width:70px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#AAAAAA;
}
#u3887 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3887_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#AAAAAA;
}
#u3888 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:234px;
  width:70px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#AAAAAA;
}
#u3888 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3888_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#AAAAAA;
}
#u3889 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:284px;
  width:70px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#AAAAAA;
}
#u3889 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3889_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3890 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:537px;
  width:316px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3890 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3890_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
