body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-46px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:649px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:39px;
  width:360px;
  height:649px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:85px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u1309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:51px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1310 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1310_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:51px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1311 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1311_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#02A7F0;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:626px;
  width:330px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#02A7F0;
}
#u1312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:122px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:130px;
  width:339px;
  height:122px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:170px;
  width:325px;
  height:1px;
  display:flex;
  transition:none;
}
#u1314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u1314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:144px;
  width:66px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1315 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1315_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:181px;
  width:56px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1316 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1316_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#AAAAAA;
  text-align:right;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:136px;
  width:13px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#AAAAAA;
  text-align:right;
}
#u1317 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1317_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:102px;
  width:56px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1318 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1318_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:86px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:302px;
  width:339px;
  height:86px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:342px;
  width:325px;
  height:1px;
  display:flex;
  transition:none;
}
#u1320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u1320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:224px;
  width:70px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1321 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1321_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:276px;
  width:84px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1322 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1322_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:314px;
  width:86px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1323 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1323_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:210px;
  width:325px;
  height:1px;
  display:flex;
  transition:none;
}
#u1324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u1324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:355px;
  width:96px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1325 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1325_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#AAAAAA;
  text-align:right;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:314px;
  width:13px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#AAAAAA;
  text-align:right;
}
#u1326 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1326_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
