body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-41px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:641px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:31px;
  width:360px;
  height:641px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:216px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:81px;
  width:360px;
  height:216px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:123px;
  width:114px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u1464 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:97px;
  width:74px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u1465 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:97px;
  width:35px;
  height:21px;
  display:flex;
  transition:none;
}
#u1466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:21px;
}
#u1466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:234px;
  width:69px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u1467 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:157px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u1468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:219px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u1469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:234px;
  width:64px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u1470 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:#D9001B;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:256px;
  width:82px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:#D9001B;
}
#u1471 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:256px;
  width:57px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u1472 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:168px;
  width:51px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u1473 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:168px;
  width:32px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u1474 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:190px;
  width:148px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u1475 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:80px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u1476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:46px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1477 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1477_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:46px;
  width:56px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1478 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1478_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:193px;
  width:93px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u1479 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:141px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:307px;
  width:336px;
  height:141px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:318px;
  width:32px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u1481 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:343px;
  width:93px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u1482 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:377px;
  width:336px;
  height:1px;
  display:flex;
  transition:none;
}
#u1483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:2px;
}
#u1483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:385px;
  width:32px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u1484 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:410px;
  width:93px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u1485 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:321px;
  width:64px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u1486 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:#D9001B;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:341px;
  width:71px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:#D9001B;
}
#u1487 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:388px;
  width:29px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u1488 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:410px;
  width:43px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
}
#u1489 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#02A7F0;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:104px;
  width:69px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#02A7F0;
}
#u1490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#02A7F0;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:104px;
  width:69px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#02A7F0;
}
#u1491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
