body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-41px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:641px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3271 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:31px;
  width:360px;
  height:641px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:216px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3272 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:81px;
  width:360px;
  height:216px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u3273 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:123px;
  width:114px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u3273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u3274 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:97px;
  width:74px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u3274 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3275 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:97px;
  width:35px;
  height:21px;
  display:flex;
  transition:none;
}
#u3275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:21px;
}
#u3275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u3276 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:234px;
  width:69px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u3276 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3277 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:157px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u3277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u3277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3278 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:219px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u3278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u3278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u3279 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:234px;
  width:64px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u3279 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:#D9001B;
}
#u3280 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:256px;
  width:82px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:#D9001B;
}
#u3280 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u3281 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:256px;
  width:57px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u3281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u3282 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:168px;
  width:51px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u3282 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u3283 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:168px;
  width:32px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u3283 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u3284 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:190px;
  width:148px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u3284 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3285 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:80px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u3285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u3285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3286 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:46px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3286 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3286_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3287 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:46px;
  width:42px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3287 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3287_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u3288 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:193px;
  width:93px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u3288 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:141px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3289 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:307px;
  width:336px;
  height:141px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u3290 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:318px;
  width:32px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u3290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u3291 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:343px;
  width:93px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u3291 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3292 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:377px;
  width:336px;
  height:1px;
  display:flex;
  transition:none;
}
#u3292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:2px;
}
#u3292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u3293 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:385px;
  width:32px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u3293 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u3294 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:410px;
  width:93px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u3294 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u3295 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:321px;
  width:64px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u3295 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:#D9001B;
}
#u3296 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:341px;
  width:71px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:#D9001B;
}
#u3296 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u3297 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:388px;
  width:29px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u3297 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
}
#u3298 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:410px;
  width:43px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
}
#u3298 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#02A7F0;
}
#u3299 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:104px;
  width:69px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#02A7F0;
}
#u3299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#02A7F0;
}
#u3300 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:104px;
  width:69px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#02A7F0;
}
#u3300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
