body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-41px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:641px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:31px;
  width:360px;
  height:641px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:216px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:81px;
  width:360px;
  height:216px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:123px;
  width:114px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u2139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:97px;
  width:74px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u2140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:97px;
  width:35px;
  height:21px;
  display:flex;
  transition:none;
}
#u2141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:21px;
}
#u2141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:234px;
  width:69px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u2142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:157px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u2143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:219px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u2144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:234px;
  width:64px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u2145 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:#D9001B;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:256px;
  width:82px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:#D9001B;
}
#u2146 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:256px;
  width:57px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u2147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:168px;
  width:51px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u2148 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:168px;
  width:32px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u2149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:190px;
  width:148px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u2150 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:80px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u2151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:46px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2152 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2152_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:46px;
  width:56px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2153_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:193px;
  width:93px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u2154 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:141px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:307px;
  width:336px;
  height:141px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:318px;
  width:32px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u2156 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:343px;
  width:93px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u2157 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:377px;
  width:336px;
  height:1px;
  display:flex;
  transition:none;
}
#u2158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:2px;
}
#u2158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:385px;
  width:32px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u2159 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:410px;
  width:93px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u2160 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:321px;
  width:64px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u2161 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:#D9001B;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:341px;
  width:71px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:#D9001B;
}
#u2162 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:388px;
  width:29px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u2163 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:410px;
  width:43px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
}
#u2164 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#02A7F0;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:104px;
  width:69px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#02A7F0;
}
#u2165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#02A7F0;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:104px;
  width:69px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#02A7F0;
}
#u2166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
